libraries:
  Movies:
    report_path: config/reports/movies.yml
    metadata_path:
    - folder: config/metadata/movies/
    - pmm: seasonal
      template_variables:
        use_mother: false
        use_memorial: false
        use_father: false
        use_labor: false
        emoji: ''
        imdb_list_christmas:
        - https://www.imdb.com/list/ls000096828/       #default pmm list
        - https://www.imdb.com/list/ls025976544/
        - https://www.imdb.com/list/ls003863000/
        - https://www.imdb.com/list/ls027454200/
        - https://www.imdb.com/list/ls027886673/
        - https://www.imdb.com/list/ls097998599/
        - https://www.imdb.com/list/ls000096828/
        trakt_list_christmas:
        - https://trakt.tv/users/questdvd/lists/absolute-hayes-christmas-classics
        - https://trakt.tv/users/littlestella3/lists/christmas
        ignore_ids:
        ignore_imdb_ids:
        - tt0120663   #Eyes Wide Shut
        - tt0093409   #Lethal Weapon
        - tt0089927   #Rocky IV
        - tt0448115   #Shazam
        - tt1300854   #Iron Man 3
    - pmm: separator_award
    - pmm: oscars
      template_variables:
        radarr_add_missing: false
        use_best_director: false
        use_year_collections: false
        collection_order: release
        item_radarr_tag: pmm_<<collection_name>>
    - pmm: separator_chart
    - pmm: basic
    - pmm: decade
#      template_variables:
#        exclude: 1920
    - pmm: flixpatrol
      template_variables:
        location: united_states
        radarr_add_missing: true
        radarr_tag: pmm_flixpatrol
        radarr_monitor: false
        radarr_search: false
    overlay_path:
    - remove_overlays: false
    - reapply_overlays: false
      #- reset_overlays: plex
    - pmm: resolution
      template_variables:
        use_1080p: false
        use_720p: false
        use_576p: false
        use_480p: false
        use_directors: false
        use_extended: false
        use_uncut: false
        use_unrated: false
        use_special: false
        use_finalcut: false
        use_anniversary: false
        use_collector: false
        use_international: false
        use_theatrical: false
        use_ultimate: false
        use_enhanced: true
        use_imax: true
        use_remastered: false
        use_criterion: false
#      - pmm: ribbon
#        template_variables:
#          use_common: false
#          use_metacritic: false
#          use_oscars: false
#          use_rotten: false
    settings:
      asset_directory:
      - config/assets
    operations:
      delete_collections:
        configured: false
        managed: false

  Movies for operations:
    library_name: Movies
    schedule: Weekly(monday)
    operations:
      mass_originally_available_update: tmdb
      mass_genre_update: tmdb
      mass_content_rating_update: mdb_commonsense
      mass_critic_rating_update: mdb_tomatoes
      mass_audience_rating_update: imdb
      mass_user_rating_update: tmdb

  TV:
    report_path: config/reports/tv_shows.yml
    metadata_path:
    - folder: config/metadata/tv/
    - pmm: separator_chart
    - pmm: basic
    - pmm: flixpatrol
      template_variables:
        location: united_states
        sonarr_add_missing: true
        sonarr_tag: pmm_flixpatrol
        sonarr_monitor: none
        sonarr_search: false
    settings:
      asset_directory:
      - config/assets
    operations:
      delete_collections:
        configured: false
        managed: false

  TV for operations:
    library_name: TV
    schedule: Weekly(monday)
    operations:
      mass_originally_available_update: tvdb
      mass_genre_update: tvdb
      mass_content_rating_update: mdb_commonsense
      mass_critic_rating_update: mdb_tomatoes
      mass_audience_rating_update: imdb
      mass_user_rating_update: imdb

playlist_files:
- pmm: playlist
  template_variables:
    sync_to_user: all
    exclude_users: Kid
    libraries: Movies
  asset_directory:
  - config/assets/playlists
settings: # Can be individually specified per library as well
  cache: true
  cache_expiration: 60
  asset_directory: config/assets
  asset_folders: true
  asset_depth: 1
  create_asset_folders: true
  prioritize_assets: true
  dimensional_asset_rename: true
  download_url_assets: true
  show_missing_season_assets: false
  show_missing_episode_assets: false
  show_asset_not_needed: true
  sync_mode: append
  minimum_items: 2
  default_collection_order:
  delete_below_minimum: true
  delete_not_scheduled: false
  run_again_delay: 2
  missing_only_released: false
  only_filter_missing: false
  show_unmanaged: false
  show_filtered: false
  show_options: false
  show_missing: true
  show_missing_assets: true
  save_report: false
  tvdb_language: eng
  ignore_ids:
  ignore_imdb_ids:
  item_refresh_delay: 0
  playlist_sync_to_user: all
  playlist_report: false
  verify_ssl: true
  custom_repo:
  check_nightly: false
  show_unconfigured: true
  playlist_exclude_users:
webhooks:                                       # Can be individually specified per library as well
  error: notifiarr
  version: notifiarr
  run_start: notifiarr
  run_end: notifiarr
  changes: notifiarr
  delete:
plex:                                           # Can be individually specified per library as well; REQUIRED for the script to run
  url: http://plex:32400
  token: (removed)
  timeout: 60
  clean_bundles: false
  empty_trash: false
  optimize: false
tmdb:                                           # REQUIRED for the script to run
  apikey: (removed)
  language: en
  cache_expiration: 60
  region:
tautulli:                                       # Can be individually specified per library as well
  url: http://tautulli:8181
  apikey: (removed)
omdb:
  apikey: ########
  cache_expiration: 60
mdblist:
  apikey: (removed)
  cache_expiration: 60
notifiarr:
  apikey: (removed)
anidb:                                          # Not required for AniDB builders unless you want mature content
  username: ######
  password: ######
  language: en
  client:
radarr:                                           # Can be individually specified per library as well
  url: http://radarr:7878
  token: (removed)
  root_folder_path: /data/media/movies
  monitor: false
  availability: released
  quality_profile: Remux|Bluray|WebDL-1080p
  tag:
  search: false
  radarr_path:
  plex_path:
  add_existing: false
  add_missing: false
  upgrade_existing: false
  ignore_cache: false
sonarr:                                           # Can be individually specified per library as well
  url: http://sonarr:8989
  token: (removed)
  root_folder_path: /data/media/tv
  monitor: none
  quality_profile: WebDL|Bluray-1080p
  language_profile: English
  series_type: standard
  season_folder: true
  tag:
  search: false
  cutoff_search: false
  add_existing: false
  sonarr_path:
  plex_path:
  add_missing: false
  upgrade_existing: false
  ignore_cache: false
trakt:
  client_id: (removed)
  client_secret: (removed)
  pin:
  authorization:
    # everything below is autofilled by the script
    access_token: (removed)
    token_type: Bearer
    expires_in: 7889238
    refresh_token: (removed)
    scope: public
    created_at: 1674344043
mal:
  client_id: ################################
  client_secret: ################################################################
  authorization:
    # everything below is autofilled by the script
    access_token:
    token_type:
    expires_in:
